.footer {
    background: #f2f2f2;
    color: #555;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    margin-top: 200px;
    padding-left: 400px;
    display: flex;
    align-items: center; 
    margin-left: 290px;
    width: calc(100% - 690px);
}
