{% load static %}

<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Психологи — E-Psycholog</title>

    <link rel="icon" type="image/png" href="{% static 'auth/media/logo.png' %}">
    <link rel="stylesheet" href="{% static 'shared/css/header.css' %}">
    <link rel="stylesheet" href="{% static 'shared/css/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'shared/css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'shared/css/layout.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'psychologists/css/psychologists_list.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

<body>

{% include "shared/header.html" %}

{% if show_alert %}
<div class="alert-box alert-error">
    Щоб інші користувачі могли бачити вас у списку психологів, заповніть ваш робочий графік у профілі.
</div>
{% endif %}

<div class="layout">

    {% include "shared/sidebar.html" %}

    <main class="page-content">

        <div class="psychologists-page">

            <div class="page-controls">
                <h1 class="content-title">Психологи</h1>
            </div>

            <div id="psychologistsGrid" class="psychologists-grid"></div>

            <div id="pagination" class="pagination"></div>

        </div>

    </main>

</div>


{% include "shared/footer.html" %}

<div id="bookingModal" class="booking-modal">
    <div class="booking-modal-content">
        <h3 class="booking-modal-title">Бронювання запису</h3>

        <label class="modal-label">Оберіть дату</label>
        <input type="date" id="bookingDate" class="modal-input" autocomplete="off">

        <label class="modal-label">Оберіть час</label>
        <div id="timeSlots" class="time-slots disabled"></div>

        <div class="modal-actions">
            <button id="confirmBooking" class="modal-confirm">Підтвердити</button>
            <button id="closeBooking" class="modal-cancel">Скасувати</button>
        </div>
    </div>
</div>


<script>
    const psychologists = {{ psychologists_json|safe }};
</script>

<script src="{% static 'psychologists/js/psychologists.js' %}"></script>

</body>
</html>
