.chat-wrapper {
    position: relative;
    height: calc(100vh - 60px);
    width: 100%;
    background: url("/static/chat/media/back.png") no-repeat center center fixed;
    background-size: cover;
    display: flex;
    font-family: "Montserrat", sans-serif !important;
    flex-direction: column;
    overflow: hidden;
}
.msg-avatar {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
    padding: 0 5px;
}

.chat-header-top {
    height: 65px;
    font-family: "Montserrat", sans-serif !important;
    display: flex;
    background: #fff;
    align-items: center;
    padding: 0 20px;
    gap: 14px;
    flex-shrink: 0;
}

.page-content{
    margin-left: 290px;
    padding: none !important;
      width: calc(100% - 290px);
}

.chat-back {
    font-size: 24px;
    color: #333;
    text-decoration: none;
    padding-right: 6px;
}

.chat-back i {
    font-size: 22px;
    color: #333;
}

.chat-top-avatar {
    width: 44px !important;
    height: 44px !important;
    border-radius: 50% !important;
    object-fit: cover !important;
    display: block !important;
}

.chat-top-name {
    font-family: "Montserrat", sans-serif !important;
    font-size: 20px;
    font-weight: 600;
    color: #222;
}

.chat-messages {
    flex: 1;
    font-family: "Montserrat", sans-serif !important;
    overflow-y: auto;
    padding: 20px 40px;
    background-image: url("/static/chat/media/chat-bg.webp");
    background-size: cover;
    background-position: center;
}

.message-row {
    display: flex;
    margin-bottom: 16px;
}

.message-row.me {
    justify-content: flex-end;

}

.message-row.me .message-bubble {
    background: #E3FFCE !important;
}

.message-row.them {
    justify-content: flex-start;
    
}


.message-bubble {
    min-width: 12%;
    padding: 12px 16px;
    border-radius: 20px;
    background: #ffffff;
    font-size: 20px;
    line-height: 1.5;
    position: relative;
    box-shadow: 0 3px 8px rgba(0,0,0,0.08);
}

.message-me .message-bubble {
    background: #d1ffd1;
}

.message-time {
    font-family: "Montserrat", sans-serif !important;
    margin-top: -6px;
    font-size: 12px;
    opacity: 0.7;
    text-align: right;
}

.chat-input-block {
    flex-shrink: 0;
    border: none;
    padding: 12px 20px;
    display: flex;
    gap: 12px;
    align-items: center;
    position: sticky;
    bottom: 0;
    z-index: 100;
}

#messageInput {
    flex-grow: 1;
    font-family: "Montserrat", sans-serif !important;
    resize: none;
    border: none;
    background: white;
    border-radius: 22px;
    padding: 12px 16px;
    font-size: 15px;
    max-height: 140px;
    outline: none;
}

.chat-send-btn {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background: #00c257;
    color: white;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    transition: 0.2s;
}

.chat-send-btn:hover {
    background: #00a84c;
}

.chat-send-btn i {
    font-size: 20px;
}

.date-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.message-date {
    display: inline-block;
    padding: 6px 16px;
    font-size: 14px;
    background: #ffffff;
    border: 1px solid #eee;
    border-radius: 20px;
    color: #666;
    max-width: fit-content;
}
