
.profile-section {
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.block-card {
    background: #ffffff;
    padding: 35px;
    border-radius: 18px;
    border: 1px solid #909090;

 
}

.green-title {
    color: #20ae60;
    font-size: 22px;
    font-weight: 300;
}


.personal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.edit-btn {
    border: 1px solid #20ae60;
    padding: 8px 18px;
    border-radius: 18px;
    font-size: 15px;
    color: #20ae60;
    text-decoration: none;
    font-weight: 300;
    display: flex;
    gap: 8px;
    align-items: center;
    transition: 0.2s ease;
}

.edit-btn:hover {
    background: #20ae6020;
}

.personal-grid {
    display: grid;
    grid-template-columns: 180px auto;
    gap: 45px;
}

.personal-photo {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.personal-avatar {
    width: 170px;
    height: 170px;
    border-radius: 100%;
    object-fit: cover;
    border: 3px solid #eaeaea;
}

.personal-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px 40px;
}

.info-field {
    display: flex;
    flex-direction: column;
}

.info-field.full-width {
    grid-column: 2 / 4;
}

.label {
    font-size: 14px;
    color: #7A7A7A;
}

.value {
    margin-top: 6px;
    font-size: 18px;
    font-weight: 300;
}

.workspace-grid {
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px 40px;
}

.paragraph {
    line-height: 1.55;
    margin-top: 4px;
}

.line-separator {
    height: 1px;
    width: 100%;
    background: #e1e1e1;
    margin: 15px 0;
}

.actions-row {
    margin-bottom: 40px;
    padding: 20px 0;

    display: flex;
    justify-content: center;
    gap: 20px;
}

.action-btn {
    padding: 14px 32px;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    color: #ffffff;
    transition: 0.2s ease;
}

.action-btn.green {
    background: #20ae60;
}

.action-btn.red {
    background: #d64545;
}

.action-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0px 6px 20px rgba(0,0,0,0.12);
    opacity: 1;
}

.page-content {
    height: calc(100vh - 70px); 
    padding-right: 10px; 
}

.edit-btn .edit-icon {
    width: 24px;
    height: 24px;
    object-fit: contain;
    margin-right: 8px;
}

.edit-input {
    width: 100%;
    padding: 6px 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 15px;
    font-family: "Montserrat";
}

.save-btn {
    background: #20ae60 !important;
    color: white !important;
    padding: 10px 20px;
    border-radius: 10px;
}

.time-select {
    width: 70px;
    padding: 8px 10px;
    font-size: 16px;
    margin-top: 6px;
    font-family: "Montserrat", sans-serif;

    background: #ffffff;
    border: 1px solid #d4d4d4;
    border-radius: 10px;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    background-repeat: no-repeat;
    background-position: right 12px center;
    background-size: 14px;

    transition: all 0.2s ease;
}

.time-select:focus {
    border-color: #76c893;
    box-shadow: 0 0 0 3px rgba(118, 200, 147, 0.35);
    outline: none;
}

.time-select:hover {
    border-color: #9fd8b4;
}

.worktime-label {
    font-size: 16px;
    margin: 0 4px;
    font-weight:300;
    color: #000000;
}


.worktime-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
}

.edit-input{
     font-size: 16px;
      padding: 8px 10px;
       margin-top: 6px;
}

.password-modal {
    position: fixed;
    top: 0;
    left: 0;
    border: 1px solid #20ae60;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center; 
    align-items: center;     
    z-index: 9999;
}

.password-modal-content {
    background: #fff;
    padding: 40px;
    border-radius: 16px;
    width: 500px;
    max-width: 90%;
    box-shadow: 0 10px 30px rgba(0,0,0,0.15);
    text-align: center; 
}

.password-modal-content h2 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 25px;
}

.password-modal-content label {
    display: block;
    text-align: left;      
    font-size: 16px;
    margin-top: 12px;
    margin-bottom: 6px;
    font-weight: 500;
}

.password-input {
    width: 100%;
    padding: 12px 14px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 15px;
    outline: none;
    margin-bottom: 10px;
}

.password-input:focus {
    border-color: #3cb372;
}

.modal-actions {
    display: flex;
    justify-content: center; 
    gap: 15px;
    margin-top: 25px;
}

.modal-save-btn {
    background-color: #28a745;
    color: white;
    padding: 10px 24px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: 0.2s;
}

.modal-save-btn:hover {
    background-color: #218838;
}

.modal-cancel-btn {
    background-color: #e0e0e0;
    color: #333;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: 0.2s;
}

.modal-cancel-btn:hover {
    background-color: #cfcfcf;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
}
